<div style="margin-top: 50px;">
    <nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip="Working...">
        <div class="parent">
            <div class="child">
                <div nz-row class="imgDiv">
                    <h2 style="margin-left:230px ;">Post Car</h2>
                </div>

                <form nz-form>
                    <div nz-col [nzMd]="24" [nzSm]="24" [nzXs]="24">
                        <div class="profile-badge">
                            <label for="upload_profile_image" class="upload-label" *ngIf="selectedFile">
                                <img class="prfile" [src]="imagePreview" alt="profile" />
                            </label>
                            <input type="file" nz-button nzType="primary" id="upload_profile_image"
                            accept="image/x-png,image/gif,image/jpeg" (change)="onFileSelected($event)">
                            <button nz-button nzShape="circle"></button>
                        </div>
                    </div>

                    <div nz-col nzSpan="24">
                        <nz-form-item>
                            <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="This input is required!">
                                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a Brand Name">
                                    <nz-option *ngFor="let brand of listOfBrands" nzLabel="{{ brand }}"
                                        nzValue="{{ brand }}"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzSpan="24">
                        <nz-form-item>
                            <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="This input is required!">
                                <input nz-input placeholder="Enter Car Model" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzSpan="24">
                        <nz-form-item>
                            <nz-form-control nzErrorTip="This input is required!">
                                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a Type">
                                    <nz-option *ngFor="let type of listOfType" nzLabel="{{ type }}"
                                        nzValue="{{ type }}"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzSpan="24">
                        <nz-form-item>
                            <nz-form-control nzErrorTip="This input is required!">
                                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a Transmission mode">
                                    <nz-option *ngFor="let transmission of listOfTransmission" nzLabel="{{ transmission }}"
                                        nzValue="{{ transmission }}"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzSpan="24">
                        <nz-form-item>
                            <nz-form-control nzErrorTip="This input is required!">
                                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a Color">
                                    <nz-option *ngFor="let color of listOfColor" nzLabel="{{ color }}"
                                        nzValue="{{ color }}"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzSpan="24">
                        <nz-form-item>
                            <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="This input is required!">
                                <input nz-input placeholder="Enter Car Price" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col nzSpan="24">
                        <nz-form-item>
                            <nz-form-control nzHasFeedback [nzXs]="24" nzErrorTip="This input is required!">
                                <textarea rows="1" nz-input placeholder="Enter Car Description" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Post Car</button>

                </form>
            </div>
        </div>
    </nz-spin>

</div>
