<div class="bg" style="background-color: #F8F8F8;">
    <nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip="Working...">
        <div class="parent">
            <div class="child">
                <div nz-row class="imgDiv">
                    <div nz-col nzSpan="24">
                        <h1 style="margin-left: 80px;">Sign Up</h1>
                    </div>
                </div>
                <form nz-form [formGroup]="signupForm">

                    <nz-form-item>
                        <nz-form-control nzHasFeedback nzErrorTip="The input is not a valid E-mail">
                            <input nz-input placeholder="E-mail" id="email" formControlName="email" />
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-control nzHasFeedback [nzErrorTip]="errorPass">
                            <input nz-input placeholder="Password" id="Password" type="Password" formControlName="password" />
                            <ng-template #errorPass let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                    Password Is Required!
                                </ng-container>
                                <ng-container *ngIf="control.hasError('pattern')">
                                    Password Should Contain 8 Characters, One Uppercase, One Lowercase, One Number and One Special Character!
                                </ng-container>                  
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-control nzHasFeedback [nzErrorTip]="errorTpl">
                            <input nz-input placeholder="Confirm Password" id="checkPassword" type="password" formControlName="checkPassword" />
                            <ng-template #errorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                    Please Confirm Your Password!
                                </ng-container>
                                <ng-container *ngIf="control.hasError('confirm')">
                                    Two Passwords That You Entered Do Not Match!
                                </ng-container>                  
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-control nzHasFeedback [nzErrorTip]="userErrorTpl">
                            <input nz-input placeholder="Name" id="username" formControlName="name"  />
                            <ng-template #userErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                    Please Input your userame!
                                </ng-container>                  
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>

                    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" (click)="register">Register</button>
                    Or <a routerLink="/login">Login Now!</a>
                </form>
            </div>
        </div>
    </nz-spin>
</div>
