.custom-navbar {
    background-color: #003973;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 10px;
    height: 60px;

    .navbar-title {
        >a {
            color: white !important;
            margin-left: 10px;
            font-size: 20px;
            font-weight: bolder;
            display: flex !important;
            align-items: center !important;
            height: 100%;
        }
    }

    .nav-links {
        display: flex !important;
        align-items: center !important;

        a {
            color: white;
            margin-left: 15px;
        }
    }
}